#cantina {
    margin-top: 115px;

    .title-section {
        hr {
            width: 15%;
        }
    }

    .img-cantina {
        img {
            border-radius: 3rem !important;
        }
    }

    .intro {
        background-image: url("/assets/images/bg-04.png");
        background-position-x: center;
        background-position-y: 0px;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 60px;
        padding-bottom: 200px;
        position: relative;
        z-index: 1;
    }

    .cantina-01 {
        background-image: url("/assets/images/bg-05-1.jpg");
        background-position-x: center;
        background-position-y: 0px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: -135px;
        margin-bottom: -200px;
        padding-top: 150px;
        padding-bottom: 100px;

        h2 {
            color: $cyan;
            font-weight: 600;
        }

        p {
            color: #9b9b9b;
        }


    }

    .cantina-02 {
        background-image: url("/assets/images/bg-07.png");
        background-position-x: center;
        background-position-y: 0px;
        background-size: cover;
        padding-top: 160px;
        padding-bottom: 85px;
        position: relative;
        z-index: 1;
    }

    .cantina-03 {
        background-image: url("/assets/images/bg-05.png");
        background-position-x: center;
        background-position-y: 0px;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 155px;
        padding-bottom: 210px;
        margin-top: -125px;
        position: relative;
        z-index: 2;
    }

    .cantina-04 {
        background-image: url("/assets/images/bg-05-1.jpg");
        background-position-x: center;
        background-position-y: 0px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: -135px;
        margin-bottom: -165px;
        padding-top: 100px;
        padding-bottom: 80px;

        h2 {
            color: $cyan;
            font-weight: 600;
        }

        p {
            color: #9b9b9b;
        }

        .rounded {
            border-radius: 2rem !important;
        }
    }

    .cantina-05 {
        background-image: url("/assets/images/bg-09.png");
        background-position-x: center;
        background-position-y: 0px;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 145px;
        padding-bottom: 145px;
        position: relative;
        z-index: 1;
    }

    .cantina-06 {
        background-image: url("/assets/images/bg-05.jpg");
        background-position-x: center;
        background-position-y: 0px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: -135px;
        margin-bottom: -130px;
        padding-top: 120px;
        padding-bottom: 110px;

        h2 {
            color: $cyan;
            font-weight: 600;
        }

        p {
            color: #9b9b9b;
        }

        .card {
            background: transparent;
            border: 2px solid #ff4b09;
        }

        .rounded {
            border-radius: 2rem !important;
        }

    }
}
