#extracurricular {
    margin-top: 115px;

    .title-section {
        hr {
            width: 15%;
        }
    }

    .intro {
        background-image: url("/assets/images/bg-04.png");
        background-position-x: center;
        background-position-y: 0px;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 60px;
        padding-bottom: 200px;
        position: relative;
        z-index: 1;
    }

    .extracurricular-01 {
        background-image: url("/assets/images/bg-05-1.jpg");
        background-position-x: center;
        background-position-y: 0px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: -135px;
        margin-bottom: -125px;
        padding-top: 100px;
        padding-bottom: 120px;

        h2 {
            color: $cyan;
            font-weight: 600;
        }

        p {
            color: #9b9b9b;
        }

        .rounded {
            border-radius: 3rem !important;
        }

        .carousel-espaco {

            .slick-prev,
            .slick-next {
                width: auto;
                height: auto;
            }

            .slick-prev {
                left: -40px;
            }
            .slick-next {
                right: -40px;
            }

            .slick-arrow {
                i {
                    font-size: 50px;
                    color: $secondcolor;
                }
            }

            .slick-prev:before {
                content: "";
            }
            .slick-next:before {
                content: "";
            }

            .slick-dots {
                bottom: -40px;

                li {
                    button {
                        &:before {
                            content: "";
                            width: 20px;
                            height: 10px;
                            padding: 5px;
                            border-radius: 5px;
                            background: #9b9b9b;
                        }
                    }
                }

                li.slick-active {
                    button:before {
                        opacity: 0.75;
                        background: #ff4b09;
                    }
                }
            }
        }
        
    }

}
